body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
 
h1 {
  font-size: 5rem;
}

hr{
  height: 0.5px;
  background-color: rgb(20, 20, 20);
}

.creative{
  color: rgb(29, 29, 129);
}

.left{
  float: left;
}

.right{ 
  float: right;
  margin-top: 30px;
  background-color: #cac8c8;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  border: 2px solid rgb(0, 0, 0);
  width: 30%;
  text-align: center;
  padding-right: 25px;
}

.form{
  width: 100%;
}

.contact{
  text-align: center;
}

ul{
  list-style: none;

}

.tile-image{
  
  
  float: left;
  margin-right: 20px;
  margin-left: 180px;
  border-radius: 6px;
}

.card{
  width: 45%;
}

.logo{
  height: 100px;
  width: 300px;
}

.subhead{
  font-size: 2rem;
  margin-bottom :50px;
}

.subsub{
  margin-top: -25px;
  margin-bottom: 30px;
}
.copyright{
  margin-bottom: 0px;
  padding-bottom: 0px;
}



.footer {
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 100%;
}

@media (max-width:600px){

  body{
    margin: 25px 25px 0 25px;
  }

  h1{
    font-size: 2.75rem;
    word-spacing: 60px;
  }

  .subhead{
    font-size: 1.35rem;
  }

  .logo{
    width:200px
  }

  hr{
    height: 1px;
    background-color: rgb(20, 20, 20);
  }

  .main{
    text-align: justify;
    place-items: center;
  }

  .card{
    width:100%;
  }

  .left{
    float: left;
  }
  
  .right{
    float: none;
    margin-left: 10px;
  }
  
  .tile-image{
    height: 200px;
    width: 250px;
    float: left;
    
  }
  
  
}





